[packages.expat]
version = "2.7.3"
version_check = "github:libexpat/libexpat"
description = "XML parser library"
url = "https://github.com/libexpat/libexpat/releases/download/R_2_7_3/expat-${version}.tar.xz"
git_url = "https://github.com/libexpat/libexpat.git"
use_git = false
stage = 4
build_order = 7

[packages.elfutils]
version = "0.194"
version_check = "url:https://sourceware.org/elfutils/ftp/|elfutils-([0-9.]+)\\.tar"
description = "ELF handling libraries"
url = "https://sourceware.org/elfutils/ftp/${version}/elfutils-${version}.tar.bz2"
stage = 5
build_order = 4
build_commands = [
    "./configure --prefix=/usr --disable-debuginfod --disable-libdebuginfod",
    "make -j${NPROC}",
    "make DESTDIR=${PKG} install"
]

[packages.efivar]
version = "39"
version_check = "github:rhboot/efivar"
description = "EFI variable manipulation library"
url = "https://github.com/rhboot/efivar/archive/refs/tags/${version}.tar.gz"
tarball = "efivar-${version}.tar.gz"
git_url = "https://github.com/rhboot/efivar.git"
use_git = false
stage = 5
build_order = 2
build_commands = [
    "make -j${NPROC} CFLAGS='-O2 -flto=auto' PREFIX=/usr LIBDIR=/usr/lib ENABLE_DOCS=0",
    "make PREFIX=/usr LIBDIR=/usr/lib DESTDIR=${PKG} ENABLE_DOCS=0 install"
]

[packages.efibootmgr]
version = "18"
version_check = "github:rhboot/efibootmgr"
description = "EFI Boot Manager utility"
url = "https://github.com/rhboot/efibootmgr/releases/download/${version}/efibootmgr-${version}.tar.bz2"
git_url = "https://github.com/rhboot/efibootmgr.git"
use_git = false
stage = 5
build_order = 3
depends = ["efivar", "popt"]
build_commands = [
    "make -j${NPROC} EFIDIR=BOOT EFI_LOADER=bootx64.efi PREFIX=/usr LIBDIR=/usr/lib",
    "make EFIDIR=BOOT PREFIX=/usr LIBDIR=/usr/lib DESTDIR=${PKG} install"
]

# GCC Support Libraries (built before GCC)

# GCC support libraries - needed for final GCC build (stage 3)
# Note: gcc-pass1/pass2 extract these from tarballs directly

[packages.eudev]
version = "3.2.14"
version_check = "github:eudev-project/eudev"
description = "Device manager for Linux (udev fork)"
url = "https://github.com/eudev-project/eudev/releases/download/v${version}/eudev-${version}.tar.gz"
git_url = "https://github.com/eudev-project/eudev.git"
use_git = false
stage = 3
build_order = 90
depends = ["gperf", "kmod"]
# disable LTO - causes undefined references to libudev symbols
build_commands = [
    "CFLAGS='-O2 -pipe' LDFLAGS='' ./configure --prefix=/usr --sysconfdir=/etc --enable-manpages=no --disable-selinux",
    "make -j${NPROC}",
    "make DESTDIR=${PKG} install"
]

[packages.expect]
version = "5.45.4"
version_check = "url:https://core.tcl-lang.org/expect/timeline|Expect ([0-9]+\\.[0-9]+\\.[0-9]+)"
description = "Tool for automating interactive applications"
url = "https://prdownloads.sourceforge.net/expect/expect${version}.tar.gz"
git_url = "https://github.com/libtcl/expect.git"
use_git = false
stage = 10
depends = ["tcl"]
source_dir = "expect${version}"
skip_optimization = true
# Patches from Arch Linux (Public Domain / BSD-0) + GCC 14+ fix from OpenEmbedded
build_commands = [
    # Apply Arch Linux patches
    "patch -Np0 -i /home/ert/code/pk/patches/expect/expect-5.45-format-security.patch",
    "patch -Np1 -i /home/ert/code/pk/patches/expect/expect-c99.patch",
    "patch -Np1 -i /home/ert/code/pk/patches/expect/expect-5.45.4-covscan-fixes.patch",
    "patch -Np1 -i /home/ert/code/pk/patches/expect/expect-configure-c99.patch",
    # Regenerate configure after patching
    "autoreconf -fiv",
    # Configure and build (use gnu89 for old K&R C code compatibility with GCC 14+)
    "CFLAGS='-O3 -march=znver3 -pipe -std=gnu89' LDFLAGS='' ./configure --prefix=/usr --with-tcl=/usr/lib --enable-shared --mandir=/usr/share/man --with-tclinclude=/usr/include",
    "make -j${NPROC}",
    "make DESTDIR=${PKG} install",
    "ln -sf expect${version}/libexpect${version}.so ${PKG}/usr/lib/libexpect.so"
]
provides = ["/usr/bin/expect"]

[packages.exo]
version = "4.20.0"
version_check = "xfce:xfce/exo"
description = "Xfce extension library"
url = "https://archive.xfce.org/src/xfce/exo/4.20/exo-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/exo.git"
use_git = false
stage = 10
# Disable LTO - libtool nm issues
build_commands = [
    "unset CFLAGS CXXFLAGS LDFLAGS && ./configure --prefix=/usr CFLAGS='-O2 -march=znver3' LDFLAGS=''",
    "unset CFLAGS CXXFLAGS LDFLAGS && make -j${NPROC} CFLAGS='-O2 -march=znver3' LDFLAGS=''",
    "make DESTDIR=${PKG} install"
]
