[packages.file]
version = "5.46"
version_check = "url:https://github.com/file/file/tags|FILE([0-9]+)_([0-9]+)"
description = "File type identification"
url = "https://astron.com/pub/file/file-${version}.tar.gz"
git_url = "https://github.com/file/file.git"
use_git = false
stage = 2
provides = ["${SYSROOT}/usr/bin/file"]
build_commands = [
    "mkdir -p build && pushd build && ../configure --disable-bzlib --disable-libseccomp --disable-xzlib --disable-zlib && make && popd",
    "./configure --prefix=/usr --host=${TARGET} --build=$(./config.guess)",
    "make FILE_COMPILE=$(pwd)/build/src/file -j${NPROC}",
    "make DESTDIR=${PKG} install",
    "rm -v ${PKG}/usr/lib/libmagic.la"
]

[packages.findutils]
version = "4.10.0"
version_check = "gnu:findutils"
description = "GNU find utilities"
url = "https://ftpmirror.gnu.org/gnu/findutils/findutils-${version}.tar.xz"
git_url = "https://git.savannah.gnu.org/git/findutils.git"
use_git = false
stage = 2
provides = ["${SYSROOT}/usr/bin/find"]
build_commands = [
    "./configure --prefix=/usr --host=${TARGET} --build=$(./config.guess) --localstatedir=/var/lib/locate gl_cv_func_wcwidth_works=yes",
    "make -j${NPROC}",
    "make DESTDIR=${PKG} install"
]

[packages.flex]
version = "2.6.4"
version_check = "github:westes/flex"
description = "Fast lexical analyzer generator"
url = "https://github.com/westes/flex/releases/download/v${version}/flex-${version}.tar.gz"
git_url = "https://github.com/westes/flex.git"
use_git = false
stage = 3
build_order = 24

# Stage 3 temporary tools (needed before glibc rebuild)
# These come from LFS Chapter 7

[packages.fvwm3]
version = "1.1.4"
version_check = "github:fvwmorg/fvwm3"
description = "F? Virtual Window Manager version 3"
url = "https://github.com/fvwmorg/fvwm3/archive/refs/tags/${version}.tar.gz"
stage = 9
depends = ["xorg-server", "libx11", "libxft", "libxrender", "libxext", "libxpm", "libxcursor", "libxrandr", "libxinerama", "libevent", "libpng"]
build_commands = [
    "meson setup build-pk/meson --prefix=/usr --buildtype=release",
    "ninja -C build-pk/meson",
    "DESTDIR=${PKG} ninja -C build-pk/meson install"
]
provides = ["/usr/bin/fvwm3"]

[packages.freetype]
version = "2.14.1"
version_check = "savannah:freetype"
description = "Font rendering library"
url = "https://downloads.sourceforge.net/freetype/freetype-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/freetype/freetype.git"
use_git = false
stage = 8

[packages.fontconfig]
version = "2.16.0"
version_check = "url:https://www.freedesktop.org/software/fontconfig/release/|fontconfig-([0-9]+\\.[0-9]+\\.[0-9]+)\\.tar"
description = "Font configuration library"
url = "https://www.freedesktop.org/software/fontconfig/release/fontconfig-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/fontconfig/fontconfig.git"
use_git = false
stage = 8
configure_flags = "--sysconfdir=/etc --localstatedir=/var --disable-docs"
depends = ["freetype", "expat"]

[packages.font-util]
version = "1.4.1"
version_check = "xorg:font/font-util"
description = "X font utilities"
url = "https://www.x.org/releases/individual/font/font-util-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/font/util.git"
use_git = false
stage = 8

[packages.fribidi]
version = "1.0.16"
version_check = "github:fribidi/fribidi"
description = "Unicode bidirectional algorithm library"
url = "https://github.com/fribidi/fribidi/releases/download/v${version}/fribidi-${version}.tar.xz"
git_url = "https://github.com/fribidi/fribidi.git"
use_git = false
stage = 9
build_order = 1
build_system = "meson"

[packages.firefox]
version = "147.0.1"
version_check = "url:https://archive.mozilla.org/pub/firefox/releases/|href=\\\"([0-9]+\\.[0-9]+\\.?[0-9]*)/\\\""
description = "Mozilla Firefox web browser (source)"
url = "https://archive.mozilla.org/pub/firefox/releases/${version}/source/firefox-${version}.source.tar.xz"
git_url = ""
use_git = false
stage = 11
# Note: Firefox is complex to build, consider using firefox-bin instead

[packages.firefox-bin]
version = "147.0.1"
version_check = "url:https://archive.mozilla.org/pub/firefox/releases/|href=\\\"([0-9]+\\.[0-9]+\\.?[0-9]*)/\\\""
description = "Mozilla Firefox web browser (prebuilt binary)"
url = "https://archive.mozilla.org/pub/firefox/releases/${version}/linux-x86_64/en-US/firefox-${version}.tar.xz"
git_url = ""
use_git = false
stage = 11
source_dir = "firefox"
build_commands = [
    "mkdir -p ${PKG}/usr/lib/firefox ${PKG}/usr/bin ${PKG}/usr/share/applications ${PKG}/usr/share/icons/hicolor/128x128/apps",
    "tar cf - --exclude=build-pk . | tar xf - -C ${PKG}/usr/lib/firefox/",
    "ln -sf ../lib/firefox/firefox ${PKG}/usr/bin/firefox",
    "cp browser/chrome/icons/default/default128.png ${PKG}/usr/share/icons/hicolor/128x128/apps/firefox.png",
    "echo \"[Desktop Entry]\" > ${PKG}/usr/share/applications/firefox.desktop && echo Name=Firefox >> ${PKG}/usr/share/applications/firefox.desktop && echo Exec=firefox >> ${PKG}/usr/share/applications/firefox.desktop && echo Icon=firefox >> ${PKG}/usr/share/applications/firefox.desktop && echo Type=Application >> ${PKG}/usr/share/applications/firefox.desktop"
]
provides = ["/usr/bin/firefox"]

[packages.ffmpeg]
version = "8.0.1"
version_check = "url:https://ffmpeg.org/releases/|ffmpeg-([0-9]+\\.[0-9]+\\.[0-9]+)\\.tar"
description = "Complete multimedia framework"
url = "https://ffmpeg.org/releases/ffmpeg-${version}.tar.xz"
git_url = "https://git.ffmpeg.org/ffmpeg.git"
use_git = false
stage = 16
build_order = 15
depends = ["nv-codec-headers", "libva"]
# Note: --disable-x86asm until nasm package is added (hand-optimized asm improves performance)
skip_optimization = true
build_commands = [
    "./configure --prefix=/usr --enable-shared --disable-static --disable-debug --enable-gpl --enable-version3 --disable-doc --disable-x86asm --enable-vaapi --enable-nvenc --enable-nvdec --enable-ffnvcodec",
    "make -j${NPROC}",
    "make DESTDIR=${PKG} install"
]
provides = ["/usr/bin/ffmpeg", "/usr/lib/libavcodec.so"]

[packages.fuse2]
version = "2.9.9"
version_check = "repology:fuse2"
description = "Filesystem in Userspace (legacy 2.x branch)"
url = "https://github.com/libfuse/libfuse/releases/download/fuse-${version}/fuse-${version}.tar.gz"
source_dir = "fuse-${version}"
stage = 5
build_commands = [
    "sed -i 's/^static int closefrom/static int fuse_closefrom/' util/ulockmgr_server.c",
    "sed -i 's/closefrom(fd)/fuse_closefrom(fd)/' util/ulockmgr_server.c",
    "./configure --prefix=/usr --disable-static --enable-lib --enable-util",
    "make -j${NPROC}",
    "make DESTDIR=${PKG} install",
    "chmod u+s ${PKG}/usr/bin/fusermount || true"
]
provides = ["/usr/lib/libfuse.so.2"]

[packages.fuse3]
version = "3.17.1"
version_check = "github:libfuse/libfuse"
description = "Filesystem in Userspace"
url = "https://github.com/libfuse/libfuse/releases/download/fuse-${version}/fuse-${version}.tar.gz"
source_dir = "fuse-${version}"
stage = 5
build_commands = [
    "meson setup build-pk/meson --prefix=/usr -Dexamples=false -Duseroot=false",
    "ninja -C build-pk/meson",
    "DESTDIR=${PKG} ninja -C build-pk/meson install || true",
    "chmod u+s ${PKG}/usr/bin/fusermount3 || true"
]
provides = ["/usr/lib/libfuse3.so"]

[packages.flatpak]
version = "1.16.1"
version_check = "github:flatpak/flatpak"
description = "Linux application sandboxing and distribution framework"
url = "https://github.com/flatpak/flatpak/releases/download/${version}/flatpak-${version}.tar.xz"
stage = 10
depends = ["glib", "ostree", "bubblewrap", "json-glib", "libsoup3", "polkit", "fuse3", "gpgme", "libseccomp", "libarchive", "dbus", "libxml2", "curl", "socat"]
build_commands = [
    "meson setup build --prefix=/usr --sysconfdir=/etc --localstatedir=/var -Dsystem_bubblewrap=bwrap -Ddocbook_docs=disabled -Dgtkdoc=disabled -Dinstalled_tests=false -Dsystem_helper=disabled -Dtests=false",
    "ninja -C build",
    "DESTDIR=${PKG} ninja -C build install"
]
provides = ["/usr/bin/flatpak"]
