[packages.jq]
version = "1.8.1"
version_check = "github:jqlang/jq"
description = "Command-line JSON processor"
url = "https://github.com/jqlang/jq/releases/download/jq-${version}/jq-${version}.tar.gz"
git_url = "https://github.com/jqlang/jq.git"
use_git = false
stage = 4
build_order = 13
# Disable LTO due to libtool compatibility issues (affects both CFLAGS and LDFLAGS)
build_commands = [
    "CFLAGS='-O3 -march=znver3' LDFLAGS='' ./configure --prefix=/usr --disable-docs --disable-static",
    "make -j${NPROC}",
    "make DESTDIR=${PKG} install"
]
provides = ["/usr/bin/jq"]

[packages.json-glib]
version = "1.10.6"
version_check = "gnome:json-glib"
description = "JSON library built on GLib"
url = "https://download.gnome.org/sources/json-glib/1.10/json-glib-${version}.tar.xz"
stage = 9
depends = ["glib"]
build_system = "meson"
provides = ["/usr/lib/libjson-glib-1.0.so"]

[packages.julia]
version = "1.12.4"
version_check = "github:JuliaLang/julia"
description = "Julia programming language"
url = "https://julialang-s3.julialang.org/bin/linux/x64/1.12/julia-${version}-linux-x86_64.tar.gz"
git_url = "https://github.com/JuliaLang/julia.git"
use_git = false
stage = 18
# Note: Binary recommended; source build requires many deps

[packages.julia-source]
version = "1.13.0-beta1"
version_check = "github:JuliaLang/julia"
description = "Julia (source build)"
url = "https://github.com/JuliaLang/julia/releases/download/v${version}/julia-${version}.tar.gz"
git_url = "https://github.com/JuliaLang/julia.git"
use_git = false
stage = 18
