[packages.julia]
version = "1.11.2"
version_check = "github:JuliaLang/julia"
description = "Julia programming language"
url = "https://julialang-s3.julialang.org/bin/linux/x64/1.11/julia-${version}-linux-x86_64.tar.gz"
git_url = "https://github.com/JuliaLang/julia.git"
use_git = false
stage = 18
# Note: Binary recommended; source build requires many deps

[packages.julia-source]
version = "1.13.0-beta1"
version_check = "github:JuliaLang/julia"
description = "Julia (source build)"
url = "https://github.com/JuliaLang/julia/releases/download/v${version}/julia-${version}.tar.gz"
git_url = "https://github.com/JuliaLang/julia.git"
use_git = false
stage = 18
