[packages.tar]
version = "1.35"
version_check = "gnu:tar"
description = "GNU tar"
url = "https://ftpmirror.gnu.org/gnu/tar/tar-${version}.tar.xz"
git_url = "https://git.savannah.gnu.org/git/tar.git"
use_git = false
stage = 2
provides = ["${SYSROOT}/usr/bin/tar"]
build_commands = [
    "FORCE_UNSAFE_CONFIGURE=1 ./configure --prefix=/usr --host=${TARGET} --build=$(build-aux/config.guess)",
    "make -j${NPROC}",
    "make DESTDIR=${PKG} install"
]

[packages.tcl]
version = "8.6.16"
version_check = "url:https://www.tcl.tk/software/tcltk/download.html|Tcl/Tk ([0-9]+\\.[0-9]+\\.[0-9]+)"
description = "Tool Command Language"
url = "https://prdownloads.sourceforge.net/tcl/tcl${version}-src.tar.gz"
git_url = "https://github.com/tcltk/tcl.git"
use_git = false
stage = 10
source_dir = "tcl${version}"
# Disable fast-math/LTO due to libm linking issues
build_commands = [
    "cd ${srcdir}/unix && CFLAGS='-O3 -march=znver3 -pipe' LDFLAGS='' ./configure --prefix=/usr --enable-threads --enable-64bit --mandir=/usr/share/man",
    "cd ${srcdir}/unix && make -j${NPROC}",
    "cd ${srcdir}/unix && make DESTDIR=${PKG} install install-private-headers",
    "ln -sf tclsh8.6 ${PKG}/usr/bin/tclsh",
    "chmod 755 ${PKG}/usr/lib/libtcl8.6.so"
]
provides = ["/usr/bin/tclsh"]

[packages.texinfo]
version = "7.2"
version_check = "gnu:texinfo"
description = "GNU documentation system"
url = "https://ftpmirror.gnu.org/gnu/texinfo/texinfo-${version}.tar.xz"
git_url = "https://git.savannah.gnu.org/git/texinfo.git"
use_git = false
stage = 3
build_order = 5
build_commands = [
    "./configure --prefix=/usr",
    "make -j${NPROC}",
    "make DESTDIR=${PKG} install"
]

[packages.thunar]
version = "4.20.2"
version_check = "xfce:xfce/thunar"
description = "Xfce file manager"
url = "https://archive.xfce.org/src/xfce/thunar/4.20/thunar-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/thunar.git"
use_git = false
stage = 10

[packages.texlive]
version = "2025"
version_check = "url:https://tug.org/texlive/|TeX Live ([0-9]{4})"
description = "TeX Live LaTeX distribution"
url = "https://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz"
git_url = ""
use_git = false
stage = 17
# Note: Run install-tl script, or use texlive ISO for offline install
# Full install is ~7GB, use schemes for smaller installs

[packages.texlive-iso]
version = "2025"
version_check = "url:https://tug.org/texlive/|TeX Live ([0-9]{4})"
description = "TeX Live ISO image (full offline)"
url = "https://mirror.ctan.org/systems/texlive/Images/texlive${version}.iso"
git_url = ""
use_git = false
manual_download = true
stage = 17
# Alternative: Full ISO for offline installation

[packages.tmux]
version = "3.6a"
version_check = "github:tmux/tmux"
description = "Terminal multiplexer"
url = "https://github.com/tmux/tmux/releases/download/${version}/tmux-${version}.tar.gz"
git_url = "https://github.com/tmux/tmux.git"
use_git = false
stage = 4
build_order = 11
depends = ["libevent", "ncurses"]
configure_flags = ""
provides = ["/usr/bin/tmux"]
