[packages.unzip]
version = "6.0"
version_check = "url:https://infozip.sourceforge.net/UnZip.html|skip"
description = "ZIP archive extraction utility"
url = "https://downloads.sourceforge.net/infozip/unzip60.tar.gz"
source_dir = "unzip60"
stage = 4
build_commands = [
    "make -f unix/Makefile generic LOCAL_UNZIP=-DLARGE_FILE_SUPPORT",
    "make prefix=${PKG}/usr MANDIR=${PKG}/usr/share/man/man1 -f unix/Makefile install"
]
provides = ["/usr/bin/unzip"]

[packages.util-macros]
version = "1.20.2"
version_check = "xorg:util/macros"
description = "X.Org utility macros"
url = "https://www.x.org/releases/individual/util/util-macros-${version}.tar.xz"
stage = 7
build_system = "autotools"
provides = ["/usr/share/pkgconfig/xorg-macros.pc"]

[packages.util-linux]
version = "2.42"
version_check = "github:util-linux/util-linux"
description = "Linux system utilities"
url = "https://www.kernel.org/pub/linux/utils/util-linux/v2.42/util-linux-${version}.tar.xz"
git_url = "https://github.com/util-linux/util-linux.git"
use_git = false
stage = 3
build_order = 6
build_commands = [
    "mkdir -pv ${PKG}/var/lib/hwclock",
    "./configure --prefix=/usr --bindir=/usr/bin --sbindir=/usr/sbin --libdir=/usr/lib --disable-chfn-chsh --disable-login --disable-nologin --disable-su --disable-setpriv --disable-runuser --disable-pylibmount --disable-static --disable-liblastlog2 --without-python runstatedir=/run ADJTIME_PATH=/var/lib/hwclock/adjtime --docdir=/usr/share/doc/util-linux-${version}",
    "make -j${NPROC}",
    "make DESTDIR=${PKG} install"
]
