[packages.util-macros]
version = "1.20.2"
version_check = "xorg:util/macros"
description = "X.Org utility macros"
url = "https://www.x.org/releases/individual/util/util-macros-${version}.tar.xz"
stage = 7
build_system = "autotools"
provides = ["/usr/share/pkgconfig/xorg-macros.pc"]

[packages.util-linux]
version = "2.40.2"
version_check = "github:util-linux/util-linux"
description = "Linux system utilities"
url = "https://www.kernel.org/pub/linux/utils/util-linux/v2.40/util-linux-${version}.tar.xz"
git_url = "https://github.com/util-linux/util-linux.git"
use_git = false
stage = 3
build_order = 6
build_commands = [
    "mkdir -pv ${PKG}/var/lib/hwclock",
    "./configure --prefix=/usr --bindir=/usr/bin --sbindir=/usr/sbin --libdir=/usr/lib --disable-chfn-chsh --disable-login --disable-nologin --disable-su --disable-setpriv --disable-runuser --disable-pylibmount --disable-static --disable-liblastlog2 --without-python runstatedir=/run ADJTIME_PATH=/var/lib/hwclock/adjtime --docdir=/usr/share/doc/util-linux-${version}",
    "make -j${NPROC}",
    "make DESTDIR=${PKG} install"
]
