[packages.xz]
version = "5.8.2"
version_check = "tukaani:xz"
description = "XZ compression utilities"
url = "https://github.com/tukaani-project/xz/releases/download/v${version}/xz-${version}.tar.xz"
git_url = "https://github.com/tukaani-project/xz.git"
use_git = false
stage = 2
provides = ["${SYSROOT}/usr/bin/xz"]
build_commands = [
    "./configure --prefix=/usr --host=${TARGET} --build=$(./config.guess) --disable-static --docdir=/usr/share/doc/xz-${version}",
    "make -j${NPROC}",
    "make DESTDIR=${PKG} install",
    "rm -v ${PKG}/usr/lib/liblzma.la"
]

# Binutils Pass 2 - Cross binutils for temp tools (after glibc)

[packages.xmlto]
version = "0.0.29"
version_check = "url:https://releases.pagure.org/xmlto/|xmlto-([0-9]+\\.[0-9]+\\.[0-9]+)\\.tar"
description = "XML to other formats converter"
url = "https://releases.pagure.org/xmlto/xmlto-${version}.tar.bz2"
stage = 4
build_commands = [
    "autoreconf -fi",
    "./configure --prefix=/usr",
    "XML_CATALOG_FILES=/etc/xml/catalog make -j${NPROC}",
    "make DESTDIR=${PKG} install"
]
depends = ["libxslt", "docbook-xsl"]
provides = ["/usr/bin/xmlto"]

[packages.xdg-utils]
version = "1.2.1"
version_check = "freedesktop:xdg/xdg-utils"
description = "Desktop integration utilities (xdg-open, xdg-mime, etc.)"
url = "https://gitlab.freedesktop.org/xdg/xdg-utils/-/archive/v${version}/xdg-utils-v${version}.tar.gz"
git_url = "https://gitlab.freedesktop.org/xdg/xdg-utils.git"
use_git = false
stage = 9
source_dir = "xdg-utils-v${version}"
build_commands = [
    "./configure --prefix=/usr",
    "touch scripts/xdg-{desktop-menu,desktop-icon,mime,icon-resource,open,email,screensaver,settings}.txt",
    "XML_CATALOG_FILES=/etc/xml/catalog make -C scripts man",
    "make -C scripts xdg-desktop-menu xdg-desktop-icon xdg-mime xdg-icon-resource xdg-open xdg-email xdg-screensaver xdg-settings",
    "mkdir -p ${PKG}/usr/bin ${PKG}/usr/share/man/man1",
    "cd scripts && install -m755 xdg-desktop-menu xdg-desktop-icon xdg-mime xdg-icon-resource xdg-open xdg-email xdg-screensaver xdg-settings ${PKG}/usr/bin/ && install -m644 man/*.1 ${PKG}/usr/share/man/man1/"
]
depends = ["xmlto"]
provides = ["/usr/bin/xdg-open"]

[packages.xorg-server]
version = "21.1.21"
version_check = "xorg:xserver/xorg-server"
description = "X.Org X11 server"
url = "https://www.x.org/releases/individual/xserver/xorg-server-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/xserver.git"
use_git = false
stage = 8
skip_optimization = true
build_commands = [
    "./configure --prefix=/usr --localstatedir=/var --sysconfdir=/etc --enable-glamor --enable-suid-wrapper --enable-xorg --disable-docs --disable-devel-docs CFLAGS='-O2 -march=znver3 -Wno-error'",
    "make -j${NPROC}",
    "make DESTDIR=${PKG} install"
]

[packages.xorgproto]
version = "2025.1"
version_check = "freedesktop:xorg/proto/xorgproto"
description = "X.Org protocol headers"
url = "https://xorg.freedesktop.org/archive/individual/proto/xorgproto-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/proto/xorgproto.git"
use_git = false
stage = 8

[packages.xauth]
version = "1.1.5"
version_check = "xorg:app/xauth"
description = "X authority file utility"
url = "https://www.x.org/releases/individual/app/xauth-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/app/xauth.git"
use_git = false
stage = 8
provides = ["/usr/bin/xauth"]

[packages.xrdb]
version = "1.2.2"
version_check = "xorg:app/xrdb"
description = "X server resource database utility"
url = "https://www.x.org/releases/individual/app/xrdb-${version}.tar.xz"
stage = 8
provides = ["/usr/bin/xrdb"]

[packages.xcb-proto]
version = "1.17.0"
version_check = "freedesktop:xorg/proto/xcbproto"
description = "XCB protocol descriptions"
url = "https://xorg.freedesktop.org/archive/individual/proto/xcb-proto-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/proto/xcbproto.git"
use_git = false
stage = 8

[packages.xf86-input-libinput]
version = "1.5.0"
version_check = "xorg:driver/xf86-input-libinput"
description = "Xorg libinput input driver"
url = "https://www.x.org/releases/individual/driver/xf86-input-libinput-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/driver/xf86-input-libinput.git"
use_git = false
stage = 8

[packages.xf86-video-fbdev]
version = "0.5.1"
version_check = "xorg:driver/xf86-video-fbdev"
description = "Xorg framebuffer video driver"
url = "https://www.x.org/releases/individual/driver/xf86-video-fbdev-${version}.tar.bz2"
git_url = "https://gitlab.freedesktop.org/xorg/driver/xf86-video-fbdev.git"
use_git = false
stage = 8

[packages.xf86-video-vesa]
version = "2.6.0"
version_check = "xorg:driver/xf86-video-vesa"
description = "Xorg VESA video driver"
url = "https://www.x.org/releases/individual/driver/xf86-video-vesa-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/driver/xf86-video-vesa.git"
use_git = false
stage = 8

[packages.xinit]
version = "1.4.4"
version_check = "xorg:app/xinit"
description = "X server initialization"
url = "https://www.x.org/releases/individual/app/xinit-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/app/xinit.git"
use_git = false
stage = 8

[packages.xterm]
version = "406"
version_check = "url:https://invisible-island.net/xterm/xterm.log.html|xterm-([0-9]+)"
description = "Standard X terminal emulator"
url = "https://invisible-mirror.net/archives/xterm/xterm-${version}.tgz"
git_url = "https://github.com/ThomasDickey/xterm-snapshots.git"
use_git = false
stage = 8

[packages.xf86-input-evdev]
version = "2.11.0"
version_check = "xorg:driver/xf86-input-evdev"
description = "Xorg evdev input driver"
url = "https://www.x.org/releases/individual/driver/xf86-input-evdev-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/driver/xf86-input-evdev.git"
use_git = false
stage = 8

[packages.xkbcomp]
version = "1.5.0"
version_check = "xorg:app/xkbcomp"
description = "XKB keyboard compiler"
url = "https://www.x.org/releases/individual/app/xkbcomp-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/app/xkbcomp.git"
use_git = false
stage = 8

[packages.xkeyboard-config]
version = "2.46"
version_check = "xorg:data/xkeyboard-config"
description = "X keyboard configuration database"
url = "https://www.x.org/releases/individual/data/xkeyboard-config/xkeyboard-config-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config.git"
use_git = false
stage = 8
build_commands = [
    "meson setup build-pk/meson --prefix=/usr --libdir=lib",
    "ninja -C build-pk/meson",
    "DESTDIR=${PKG} ninja -C build-pk/meson install",
    "rm -rf ${PKG}/usr/share/X11/xkb",
    "ln -sf /usr/share/xkeyboard-config-2 ${PKG}/usr/share/X11/xkb"
]

[packages.xfconf]
version = "4.20.0"
version_check = "xfce:xfce/xfconf"
description = "Xfce configuration system"
url = "https://archive.xfce.org/src/xfce/xfconf/4.20/xfconf-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/xfconf.git"
use_git = false
stage = 9
build_order = 11
depends = ["libxfce4util", "dbus"]
build_system = "autotools"

[packages.xfce4-dev-tools]
version = "4.20.0"
version_check = "xfce:xfce/xfce4-dev-tools"
description = "Xfce development tools"
url = "https://archive.xfce.org/src/xfce/xfce4-dev-tools/4.20/xfce4-dev-tools-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/xfce4-dev-tools.git"
use_git = false
stage = 9
build_order = 13
depends = ["glib"]

[packages.xfce4-panel]
version = "4.20.6"
version_check = "xfce:xfce/xfce4-panel"
description = "Xfce panel"
url = "https://archive.xfce.org/src/xfce/xfce4-panel/4.20/xfce4-panel-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/xfce4-panel.git"
use_git = false
stage = 10
build_order = 2
depends = ["libxfce4ui", "libxfce4util", "libxfce4windowing", "xfconf", "garcon", "gtk3"]
build_system = "autotools"

[packages.xfce4-settings]
version = "4.20.3"
version_check = "xfce:xfce/xfce4-settings"
description = "Xfce settings manager"
url = "https://archive.xfce.org/src/xfce/xfce4-settings/4.20/xfce4-settings-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/xfce4-settings.git"
use_git = false
stage = 10
build_order = 3
depends = ["libxfce4ui", "libxfce4util", "xfconf", "garcon", "gtk3"]
build_system = "autotools"

[packages.xfce4-session]
version = "4.20.3"
version_check = "xfce:xfce/xfce4-session"
description = "Xfce session manager"
url = "https://archive.xfce.org/src/xfce/xfce4-session/4.20/xfce4-session-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/xfce4-session.git"
use_git = false
stage = 10
build_order = 5
depends = ["libxfce4ui", "libxfce4util", "xfconf", "gtk3"]
build_system = "autotools"

[packages.xfwm4]
version = "4.20.0"
version_check = "xfce:xfce/xfwm4"
description = "Xfce window manager"
url = "https://archive.xfce.org/src/xfce/xfwm4/4.20/xfwm4-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/xfwm4.git"
use_git = false
stage = 10
build_order = 4
depends = ["libxfce4ui", "libxfce4util", "libxfce4windowing", "xfconf", "gtk3"]
build_system = "autotools"

[packages.xfdesktop]
version = "4.20.1"
version_check = "xfce:xfce/xfdesktop"
description = "Xfce desktop manager"
url = "https://archive.xfce.org/src/xfce/xfdesktop/4.20/xfdesktop-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/xfdesktop.git"
use_git = false
stage = 10
build_order = 6
depends = ["libxfce4ui", "libxfce4util", "libxfce4windowing", "xfconf", "garcon", "gtk3"]
build_system = "autotools"

[packages.xfce4-appfinder]
version = "4.20.0"
version_check = "xfce:xfce/xfce4-appfinder"
description = "Xfce application finder"
url = "https://archive.xfce.org/src/xfce/xfce4-appfinder/4.20/xfce4-appfinder-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/xfce4-appfinder.git"
use_git = false
stage = 10
build_order = 7
depends = ["libxfce4ui", "libxfce4util", "garcon", "gtk3"]
build_system = "autotools"

[packages.xfce4-terminal]
version = "1.1.5"
version_check = "xfce:apps/xfce4-terminal"
description = "Xfce terminal emulator"
url = "https://archive.xfce.org/src/apps/xfce4-terminal/1.1/xfce4-terminal-${version}.tar.xz"
git_url = "https://gitlab.xfce.org/apps/xfce4-terminal.git"
use_git = false
stage = 10
build_order = 8
depends = ["libxfce4ui", "vte"]
build_commands = [
    "sed -i '/subdir..doc../d' meson.build",
    "meson setup build-pk/meson --prefix=/usr --buildtype=plain",
    "ninja -C build-pk/meson",
    "DESTDIR=${PKG} ninja -C build-pk/meson install"
]

# STAGE 11: Applications

[packages.xfce4-pulseaudio-plugin]
version = "0.5.1"
version_check = "xfce:apps/xfce4-pulseaudio-plugin"
description = "XFCE panel plugin for PulseAudio"
url = "https://archive.xfce.org/src/panel-plugins/xfce4-pulseaudio-plugin/0.5/xfce4-pulseaudio-plugin-${version}.tar.xz"
git_url = "https://gitlab.xfce.org/panel-plugins/xfce4-pulseaudio-plugin.git"
use_git = false
stage = 11
repology = "xfce4-pulseaudio-plugin"
build_system = "meson"
depends = ["pulseaudio", "xfce4-panel"]

[packages.x264]
version = "stable"
version_check = "url:https://code.videolan.org/videolan/x264/-/tags|stable"
description = "H.264 video encoder"
url = "https://code.videolan.org/videolan/x264/-/archive/stable/x264-stable.tar.bz2"
git_url = "https://code.videolan.org/videolan/x264.git"
use_git = false
stage = 16

[packages.x265]
version = "4.1"
version_check = "url:https://bitbucket.org/multicoreware/x265_git/downloads/|x265_([0-9]+\.[0-9]+)\.tar"
description = "H.265/HEVC video encoder"
url = "https://bitbucket.org/multicoreware/x265_git/downloads/x265_${version}.tar.gz"
git_url = "https://bitbucket.org/multicoreware/x265_git.git"
use_git = false
stage = 16

