[packages.xz]
version = "5.8.2"
version_check = "tukaani:xz"
description = "XZ compression utilities"
url = "https://github.com/tukaani-project/xz/releases/download/v${version}/xz-${version}.tar.xz"
git_url = "https://github.com/tukaani-project/xz.git"
use_git = false
stage = 2
provides = ["${SYSROOT}/usr/bin/xz"]
build_commands = [
    "./configure --prefix=/usr --host=${TARGET} --build=$(./config.guess) --disable-static --docdir=/usr/share/doc/xz-${version}",
    "make -j${NPROC}",
    "make DESTDIR=${PKG} install",
    "rm -v ${PKG}/usr/lib/liblzma.la"
]

# Binutils Pass 2 - Cross binutils for temp tools (after glibc)

[packages.xorg-server]
version = "21.1.21"
version_check = "xorg:xserver/xorg-server"
description = "X.Org X11 server"
url = "https://www.x.org/releases/individual/xserver/xorg-server-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/xserver.git"
use_git = false
stage = 8

[packages.xorgproto]
version = "2025.1"
version_check = "freedesktop:xorg/proto/xorgproto"
description = "X.Org protocol headers"
url = "https://xorg.freedesktop.org/archive/individual/proto/xorgproto-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/proto/xorgproto.git"
use_git = false
stage = 8

[packages.xcb-proto]
version = "1.17.0"
version_check = "freedesktop:xorg/proto/xcbproto"
description = "XCB protocol descriptions"
url = "https://xorg.freedesktop.org/archive/individual/proto/xcb-proto-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/proto/xcbproto.git"
use_git = false
stage = 8

[packages.xf86-input-libinput]
version = "1.5.0"
version_check = "xorg:driver/xf86-input-libinput"
description = "Xorg libinput input driver"
url = "https://www.x.org/releases/individual/driver/xf86-input-libinput-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/driver/xf86-input-libinput.git"
use_git = false
stage = 8

[packages.xf86-video-fbdev]
version = "0.5.0"
version_check = "xorg:driver/xf86-video-fbdev"
description = "Xorg framebuffer video driver"
url = "https://www.x.org/releases/individual/driver/xf86-video-fbdev-${version}.tar.bz2"
git_url = "https://gitlab.freedesktop.org/xorg/driver/xf86-video-fbdev.git"
use_git = false
stage = 8

[packages.xf86-video-vesa]
version = "2.6.0"
version_check = "xorg:driver/xf86-video-vesa"
description = "Xorg VESA video driver"
url = "https://www.x.org/releases/individual/driver/xf86-video-vesa-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/driver/xf86-video-vesa.git"
use_git = false
stage = 8

[packages.xinit]
version = "1.4.4"
version_check = "xorg:app/xinit"
description = "X server initialization"
url = "https://www.x.org/releases/individual/app/xinit-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/app/xinit.git"
use_git = false
stage = 8

[packages.xterm]
version = "406"
version_check = "url:https://invisible-island.net/xterm/xterm.log.html|xterm-([0-9]+)"
description = "Standard X terminal emulator"
url = "https://invisible-mirror.net/archives/xterm/xterm-${version}.tgz"
git_url = "https://github.com/ThomasDickey/xterm-snapshots.git"
use_git = false
stage = 8

[packages.xf86-input-evdev]
version = "2.11.0"
version_check = "xorg:driver/xf86-input-evdev"
description = "Xorg evdev input driver"
url = "https://www.x.org/releases/individual/driver/xf86-input-evdev-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/driver/xf86-input-evdev.git"
use_git = false
stage = 8

[packages.xkbcomp]
version = "1.5.0"
version_check = "xorg:app/xkbcomp"
description = "XKB keyboard compiler"
url = "https://www.x.org/releases/individual/app/xkbcomp-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xorg/app/xkbcomp.git"
use_git = false
stage = 8

[packages.xkeyboard-config]
version = "2.46"
version_check = "xorg:data/xkeyboard-config"
description = "X keyboard configuration database"
url = "https://www.x.org/releases/individual/data/xkeyboard-config/xkeyboard-config-${version}.tar.xz"
git_url = "https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config.git"
use_git = false
stage = 8
build_system = "meson"

[packages.xfconf]
version = "4.20.0"
version_check = "xfce:xfce/xfconf"
description = "Xfce configuration system"
url = "https://archive.xfce.org/src/xfce/xfconf/4.20/xfconf-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/xfconf.git"
use_git = false
stage = 9
build_order = 11
depends = ["libxfce4util", "dbus"]
# Disable LTO - libtool nm issues
build_commands = [
    "unset CFLAGS CXXFLAGS LDFLAGS && ./configure --prefix=/usr CFLAGS='-O2 -march=znver3' LDFLAGS=''",
    "unset CFLAGS CXXFLAGS LDFLAGS && make -j${NPROC} CFLAGS='-O2 -march=znver3' LDFLAGS=''",
    "make DESTDIR=${PKG} install"
]

[packages.xfce4-dev-tools]
version = "4.20.0"
version_check = "xfce:xfce/xfce4-dev-tools"
description = "Xfce development tools"
url = "https://archive.xfce.org/src/xfce/xfce4-dev-tools/4.20/xfce4-dev-tools-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/xfce4-dev-tools.git"
use_git = false
stage = 9
build_order = 13
depends = ["glib"]

[packages.xfce4-panel]
version = "4.20.4"
version_check = "xfce:xfce/xfce4-panel"
description = "Xfce panel"
url = "https://archive.xfce.org/src/xfce/xfce4-panel/4.20/xfce4-panel-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/xfce4-panel.git"
use_git = false
stage = 10
# Disable LTO - libtool nm issues
build_commands = [
    "unset CFLAGS CXXFLAGS LDFLAGS && ./configure --prefix=/usr CFLAGS='-O2 -march=znver3' LDFLAGS=''",
    "unset CFLAGS CXXFLAGS LDFLAGS && make -j${NPROC} CFLAGS='-O2 -march=znver3' LDFLAGS=''",
    "make DESTDIR=${PKG} install"
]

[packages.xfce4-settings]
version = "4.20.3"
version_check = "xfce:xfce/xfce4-settings"
description = "Xfce settings manager"
url = "https://archive.xfce.org/src/xfce/xfce4-settings/4.20/xfce4-settings-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/xfce4-settings.git"
use_git = false
stage = 10
# Disable LTO - libtool nm issues
build_commands = [
    "unset CFLAGS CXXFLAGS LDFLAGS && ./configure --prefix=/usr CFLAGS='-O2 -march=znver3' LDFLAGS=''",
    "unset CFLAGS CXXFLAGS LDFLAGS && make -j${NPROC} CFLAGS='-O2 -march=znver3' LDFLAGS=''",
    "make DESTDIR=${PKG} install"
]

[packages.xfce4-session]
version = "4.20.2"
version_check = "xfce:xfce/xfce4-session"
description = "Xfce session manager"
url = "https://archive.xfce.org/src/xfce/xfce4-session/4.20/xfce4-session-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/xfce4-session.git"
use_git = false
stage = 10
# Disable LTO - libtool nm issues
build_commands = [
    "unset CFLAGS CXXFLAGS LDFLAGS && ./configure --prefix=/usr CFLAGS='-O2 -march=znver3' LDFLAGS=''",
    "unset CFLAGS CXXFLAGS LDFLAGS && make -j${NPROC} CFLAGS='-O2 -march=znver3' LDFLAGS=''",
    "make DESTDIR=${PKG} install"
]

[packages.xfwm4]
version = "4.20.0"
version_check = "xfce:xfce/xfwm4"
description = "Xfce window manager"
url = "https://archive.xfce.org/src/xfce/xfwm4/4.20/xfwm4-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/xfwm4.git"
use_git = false
stage = 10
# Disable LTO - libtool nm issues
build_commands = [
    "unset CFLAGS CXXFLAGS LDFLAGS && ./configure --prefix=/usr CFLAGS='-O2 -march=znver3' LDFLAGS=''",
    "unset CFLAGS CXXFLAGS LDFLAGS && make -j${NPROC} CFLAGS='-O2 -march=znver3' LDFLAGS=''",
    "make DESTDIR=${PKG} install"
]

[packages.xfdesktop]
version = "4.20.1"
version_check = "xfce:xfce/xfdesktop"
description = "Xfce desktop manager"
url = "https://archive.xfce.org/src/xfce/xfdesktop/4.20/xfdesktop-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/xfdesktop.git"
use_git = false
stage = 10
# Disable LTO - libtool nm issues
build_commands = [
    "unset CFLAGS CXXFLAGS LDFLAGS && ./configure --prefix=/usr CFLAGS='-O2 -march=znver3' LDFLAGS=''",
    "unset CFLAGS CXXFLAGS LDFLAGS && make -j${NPROC} CFLAGS='-O2 -march=znver3' LDFLAGS=''",
    "make DESTDIR=${PKG} install"
]

[packages.xfce4-appfinder]
version = "4.20.0"
version_check = "xfce:xfce/xfce4-appfinder"
description = "Xfce application finder"
url = "https://archive.xfce.org/src/xfce/xfce4-appfinder/4.20/xfce4-appfinder-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/xfce/xfce4-appfinder.git"
use_git = false
stage = 10

[packages.xfce4-terminal]
version = "1.1.5"
version_check = "xfce:apps/xfce4-terminal"
description = "Xfce terminal emulator"
url = "https://archive.xfce.org/src/apps/xfce4-terminal/1.1/xfce4-terminal-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/apps/xfce4-terminal.git"
use_git = false
stage = 10
# Disable LTO - libtool nm issues
build_commands = [
    "unset CFLAGS CXXFLAGS LDFLAGS && ./configure --prefix=/usr CFLAGS='-O2 -march=znver3' LDFLAGS=''",
    "unset CFLAGS CXXFLAGS LDFLAGS && make -j${NPROC} CFLAGS='-O2 -march=znver3' LDFLAGS=''",
    "make DESTDIR=${PKG} install"
]

# STAGE 11: Applications

[packages.xfce4-pulseaudio-plugin]
version = "0.4.8"
version_check = "xfce:apps/xfce4-pulseaudio-plugin"
description = "XFCE panel plugin for PulseAudio"
url = "https://archive.xfce.org/src/panel-plugins/xfce4-pulseaudio-plugin/0.4/xfce4-pulseaudio-plugin-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/panel-plugins/xfce4-pulseaudio-plugin.git"
use_git = false
stage = 11
repology = "xfce4-pulseaudio-plugin"

[packages.xfce4-terminal]
version = "1.1.3"
description = "XFCE terminal emulator"
url = "https://archive.xfce.org/src/apps/xfce4-terminal/1.1/xfce4-terminal-${version}.tar.bz2"
git_url = "https://gitlab.xfce.org/apps/xfce4-terminal.git"
use_git = false
stage = 10
depends = ["vte"]

[packages.x264]
version = "stable"
version_check = "url:https://code.videolan.org/videolan/x264/-/tags|stable"
description = "H.264 video encoder"
url = "https://code.videolan.org/videolan/x264/-/archive/stable/x264-stable.tar.bz2"
git_url = "https://code.videolan.org/videolan/x264.git"
use_git = false
stage = 16

[packages.x265]
version = "4.1"
version_check = "url:https://bitbucket.org/multicoreware/x265_git/downloads/|x265_([0-9]+\.[0-9]+)\.tar"
description = "H.265/HEVC video encoder"
url = "https://bitbucket.org/multicoreware/x265_git/downloads/x265_${version}.tar.gz"
git_url = "https://bitbucket.org/multicoreware/x265_git.git"
use_git = false
stage = 16

[packages.xorg-server-modesetting]
version = "21.1.21"
version_check = "xorg:xserver/xorg-server"
description = "Xorg modesetting driver (built-in)"
url = ""
git_url = ""
use_git = false
stage = 20
# Note: modesetting is built into xorg-server, enable in xorg.conf if needed
# Works with virtio-gpu and most modern GPUs via KMS
