[packages.zip]
version = "3.0"
description = "Info-ZIP compression utility"
url = "https://downloads.sourceforge.net/infozip/zip30.tar.gz"
source_dir = "zip30"
stage = 3
build_commands = [
    "make -f unix/Makefile generic_gcc",
    "make -f unix/Makefile prefix=${PKG}/usr install"
]

[packages.zlib]
version = "1.3.1"
version_check = "zlib:"
description = "Compression library"
url = "https://zlib.net/zlib-${version}.tar.xz"
git_url = "https://github.com/madler/zlib.git"
use_git = false
stage = 3
build_order = 15
build_commands = [
    "./configure --prefix=/usr",
    "make -j${NPROC}",
    "make DESTDIR=${PKG} install"
]

[packages.zstd]
version = "1.5.7"
version_check = "github:facebook/zstd"
description = "Zstandard compression"
url = "https://github.com/facebook/zstd/releases/download/v${version}/zstd-${version}.tar.gz"
git_url = "https://github.com/facebook/zstd.git"
use_git = false
stage = 3
# TODO: PGO can provide ~5-10% gains but needs build script changes for proper variable handling
build_commands = [
    "make -j${NPROC} lib-mt",
    "make -j${NPROC} zstd",
    "make PREFIX=/usr DESTDIR=${PKG} install"
]

[packages.zenpower3]
version = "master"
version_check = "github:ocerman/zenpower"
description = "AMD Ryzen CPU power monitoring"
url = "https://github.com/ocerman/zenpower/archive/refs/heads/master.tar.gz"
git_url = "https://github.com/ocerman/zenpower.git"
use_git = false
stage = 19
# Better sensor support for AMD Ryzen 5000 series

# STAGE 20: Xorg Shadow Support (for VESA/fbdev drivers)
